.cabecera {
    text-align: left;
    color: $bg-negro;
    background: linear-gradient(135deg, rgba($bg-primario, 0.5), rgba($bg-secundario, 0.5));
    height: 150px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}