.card {
    border: 2px solid $bg-fucsiaclaro;
    transition: transform 0.3s ease;
}


.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}


.card-title {
    color: $bg-primario;
    font-size: 25px;
    font-weight: bold;
}
