.form-control,
.btn {
    width: 80%;
    border: 2px solid $bg-primario;
}

.form-label {
    text-align: left;
}

.mb-3 {
    margin-bottom: 1rem;
}

.w-100 h3 {
    font-size: 35px;
    color: $bg-primario;
}
