.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-brand img {
    height: 100px;
    padding-left: 20px;
}

.navbar-nav .nav-link {
    transition: color 0.3s ease-in-out;

    &:hover,
    &:focus {
        color: #CD80B5;
    }
}